<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1>Wetterstation</h1>
<a href="/">Wetter</a> <a href="webcams">Wetter Webcams</a> <a href="setup">Setup</a> <a href="info">Über</a>

<br> 
<hr>
{{date}}
<br>
Luftfeuchtigkeit: {{humidity}} %RH
<br>
Luftdruck: {{airpressure}} hPa, Tendenz {{airpressuretrend}}
<br>
Temperatur Innen: {{tempInn}}°C
<br>
Helligkeit: {{lum}} lx
<br>
Vorhersage: {{forecast}}
<br> 
<hr>

<h2>Wetter</h2>
Ort: {{name}} <br> 
Wetter: {{description}} <br>
Temperatur: {{temp}}°C gefühlt {{feelsLike}}°C <br>
Luftfeuchtigkeit: {{ow.humidity}} %RH <br>
Luftdruck: {{ow.airpressure}} hPa <br>
 
Wind: <br> 


</body>
</html>