<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1>Wetterstation {{name}}</h1>
<a href="/">Wetter</a> <a href="webcams">Wetter Webcams</a> <a href="info">Über</a>

<br> 
<hr>
{{dateFormated}}
<br>
Luftfeuchtigkeit Aussen: {{humidityOut}}% RH Luftfeuchtigkeit Innen: {{humidityIn}}% RH
<br>
Luftdruck: {{airpressure}} hPa
<br>
Temperatur Aussen: {{tempOut}}°C gefühlt {{feelsTemp}} °C Temperatur Innen: {{tempIn}}°C
<br>
Vorhersage: {{forecast}} - {{description}}
<br>

<br> 
<hr>



</body>
</html>