<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>

<body>
<h1>Wetterstation</h1>
<a href="/">Wetter</a> <a href="webcams">Wetter Webcams</a> <a href="info">Über</a>
<br> 
<hr>
{{date}}
<br>
{{applicationName}} {{buildVersion}}
<br>
Source Code: <a href="https://github.com/mirkoebert/tinkerforge-weatherstation">https://github.com/mirkoebert/tinkerforge-weatherstation</a>
<br>

<br>

</body>
</html>