<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
<h1>Wetterstation Informationen</h1>
<a href="/">Wetter</a> <a href="webcams">Wetter Webcams</a> <a href="setup">Setup</a> <a href="info">Über</a>
<br> 
<hr>
{{date}}
<br>
{{applicationName}} {{buildVersion}}
<br>
Source Code: <a href="https://github.com/mirkoebert/tinkerforge-weatherstation">https://github.com/mirkoebert/tinkerforge-weatherstation</a>
<br>
Online Status: {{online}}
<br>
<ul>
<h2>Geo Location</h2>
<li>Höhe über NN: {{altitude}}</li>
<li>Latitude: {{latitude}} </li>
<li>Longitude: {{longitude}}</li>
</ul>
<div class="mapouter"><div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" 
src="https://maps.google.com/maps?q={{latitude}}%20{{longitude}}&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a></div><style>.mapouter{text-align:right;height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style></div>
</body>
</html>