<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script>
var x = document.getElementById("demo");
function getLocation() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(showPosition);
  } else {
    x.innerHTML = "Geolocation is not supported by this browser.";
  }
}

function showPosition(position) {
  x.innerHTML = "Latitude: " + position.coords.latitude + 
  "<br>Longitude: " + position.coords.longitude; 
}
</script>
</head>

<body>
<h1>Wetterstation Setup</h1>
<a href="/">Wetter</a> <a href="webcams">Wetter Webcams</a> <a href="info">Über</a>
<hr>
<br> 
<div>
Geo Location:
<button onclick="getLocation()">Find location</button>
<div>

<br> 

</body>

</html>