<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>

<body>
<h1>Wetterstation: Weather Webcams</h1>
<a href="/">Wetter</a> <a href="webcams">Wetter Webcams</a>
<br> 
<hr>
{{date}}
<br>
<a href="https://opendata.dwd.de/weather/webcam/Warnemuende-NW/Warnemuende-NW_latest_full.jpg"><img alt="Warnmünde NW" src="https://opendata.dwd.de/weather/webcam/Warnemuende-NW/Warnemuende-NW_latest_400.jpg"></a>
<a href="https://opendata.dwd.de/weather/webcam/Hamburg-SW/Hamburg-SW_latest_full.jpg"><img alt="Hamburg SW" src="https://opendata.dwd.de/weather/webcam/Hamburg-SW/Hamburg-SW_latest_400.jpg"></a>
<a href="https://opendata.dwd.de/weather/webcam/Hohenpeissenberg-SW/Hohenpeissenberg-SW_latest_full.jpg"><img alt="Hohenpeissenberg SW" src="https://opendata.dwd.de/weather/webcam/Hohenpeissenberg-SW/Hohenpeissenberg-SW_latest_400.jpg"></a>
<a href="https://opendata.dwd.de/weather/webcam/Offenbach-O/Offenbach-O_latest_full.jpg"><img alt="Offenbach O" src="https://opendata.dwd.de/weather/webcam/Offenbach-O/Offenbach-O_latest_400.jpg"></a>
<a href="https://opendata.dwd.de/weather/webcam/Offenbach-W/Offenbach-W_latest_full.jpg"><img alt="Offenbach W" src="https://opendata.dwd.de/weather/webcam/Offenbach-W/Offenbach-W_latest_400.jpg"></a>

</body>

</html>